@page "/"

<PageTitle>Home</PageTitle>



<div class="welcome-container">
    <h1 class="welcome-title">Welcome</h1>
    <h2 class="welcome-subtitle">to <span>NetflixSan</span></h2>

    <div class="login-box">
        <p><strong>Login:</strong> username</p>
        <p><strong>Password:</strong> 1234</p>
    </div>
</div>